[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "Resources/Prototypes"]
	path = Resources/Prototypes
	url = https://github.com/ilikeships/Hullrot-YAML-Prototypes.git
	branch = master
